body {
    background-color: hsl(0, 0%, 5%);
    color: white;
    margin: 0;
}

/* start of header styles */

header {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size:32px;
    margin: 0;
    display: flex;
    padding: 30px 100px 30px 100px;
    align-items: center;
    box-shadow: 0 0 5px 0 hsla(0, 0%, 30%, 0.3);
    position: static;
    transition:box-shadow 0.25s ease;
}

header:hover{
    box-shadow: 0 0 20px hsla(0, 0%, 30%, 0.8);
}

.titleLetter {
    display: flex;
    margin: 0;
    pointer-events: none;
}

span {
    color: hsl(120, 100%, 40%);
    padding-left: 10px;
    pointer-events: none;
    text-shadow: 0 0 5px hsl(120, 100%, 40%);
}

.navBar {
    display: flex;
    align-items: center;
}

.headerPages {
    text-decoration: none;
    font-size: 16px;
    color:white;
    margin-left: 55px;
    transition: 0.4s ease-out;
    cursor: pointer;
    font-display: center;
}

.headerPages:hover {
    color: hsl(120, 100%, 40%);
    text-shadow: 0 0 5px  hsl(120, 100%, 40%);
    border-bottom: solid 4px  hsl(120, 100%, 40%);
    font-size: 20px;
}

/* End of header styles */


/*  Start of main body styles*/
.myBody {
    margin: 50px 80px 50px 80px;
    font-size: 20px;
    font-family: "Encode Sans Expanded", sans-serif;
    display: flex;
    padding: 50px 150px 50px 150px;
    border: 2px solid hsla(0, 0%, 30%, 0.3);
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 10px hsla(0, 0%, 30%, 0.3);
    transition: transform 0.5s;
}

.myBody:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px hsla(0, 0%, 30%, 0.8);
}

.bodyContent {
    padding-right: 20px;
    margin: 0;
    text-transform: capitalize;
    transition: font-size 0.25s ease;
    font-size: 22px;
}

img {
    float: right;
    max-height: 250px;
    max-width: 250px;
    border-radius: 50%;
    box-shadow: 0 0 20px hsla(120, 100%, 40%, 0.494);
    transition: box-shadow 0.25s;
}

img:hover {
    box-shadow: 0 0 50px hsla(120, 100%, 40%, 0.804);
}


/* end of main body styles */

/* start of footer */

.myFooter {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    color: hsl(120, 100%, 40%);
    text-shadow: 0 0 5px hsl(120, 100%, 40%);
    display: flex;
    font-size:22px;
    margin: 0;
    border-top: 3px solid hsla(0, 0%, 20%, 0.250);
    padding: 40px 80px 40px 80px;
    transition: 0.5s;
}
 .myLinks {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: 0.5s;
 }

 .myLinksText {
    margin: 0;
    display:flex;
    text-align: center;
 }

 .myLogoContainer {
    display: flex;
 }
  .myLogo {
    padding: 20px;
    display: flex;
    height: 30px;
    color: white;
    font-size: 30px;
    transition: 0.5s;
 }

.myLogo:hover {
    font-size: 40px;
    color: hsl(120, 100%, 40%);
}

.myFooter:hover {
    box-shadow: 0 0 20px hsla(0, 0%, 30%, 0.8);
}
